/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Home {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q  &kp W  &kp F               &kp P             &kp B      &kp J      &kp L              &kp U                &kp Y    &kp SQT   &none
&none  &kp A  &kp R  &mt LEFT_COMMAND S  &mt LEFT_SHIFT T  &kp G      &kp M      &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND E  &kp I    &kp O     &none
&none  &kp Z  &kp X  &kp C               &kp D             &kp V      &kp K      &kp H              &kp COMMA            &kp DOT  &kp FSLH  &none
                     &lt 3 ESC           &lt 1 TAB         &kp RET    &kp SPACE  &lt 1 BACKSPACE    &lt 2 DEL
            >;
        };

        Numbers-Symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp MINUS  &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp TILDE     &kp PIPE     &kp QUESTION    &kp KP_MINUS  &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp EXCLAMATION  &none
&kp MINUS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp ASTERISK  &kp CARET    &kp PERIOD      &kp KP_EQUAL  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp AT_SIGN      &none
&kp MINUS  &kp SEMI          &kp COLON          &kp DOLLAR    &kp PERCENT  &kp KP_SLASH    &kp KP_PLUS   &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp POUND        &none
                                                &kp LGUI      &trans       &kp SPACE       &kp SPACE     &trans           &kp KP_NUMBER_0
            >;
        };

        TextMods {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp MINUS  &kp MINUS      &kp MINUS   &kp MINUS         &kp MINUS       &kp MINUS    &kp MINUS  &kp MINUS  &kp UP     &kp MINUS  &kp MINUS  &kp MINUS
&kp MINUS  &kp K_PASTE    &kp K_COPY  &kp LEFT_COMMAND  &kp LEFT_SHIFT  &kp MINUS    &kp MINUS  &kp LEFT   &kp DOWN   &kp RIGHT  &kp MINUS  &kp MINUS
&kp MINUS  &kp LS(LG(V))  &kp MINUS   &kp MINUS         &kp MINUS       &kp MINUS    &kp MINUS  &kp MINUS  &kp MINUS  &kp MINUS  &kp MINUS  &kp MINUS
                                      &kp MINUS         &kp MINUS       &kp MINUS    &kp MINUS  &kp MINUS  &kp MINUS
            >;
        };

        Bluetooth {
            bindings = <
&none  &trans  &trans  &trans  &trans  &trans    &trans        &bt BT_CLR    &trans        &trans        &trans        &none
&none  &trans  &trans  &trans  &trans  &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none
&none  &trans  &trans  &trans  &trans  &trans    &trans        &trans        &trans        &trans        &trans        &none
                       &trans  &trans  &trans    &trans        &trans        &trans
            >;
        };
    };
};
